/.idea/
/aerostack_stack/
/cmake-build-debug/
/mavic_interface/mavic_transform_frames/cmake-build-debug/
/mavic_interface_pkgs/mavic_transform_frames/cmake-build-debug/
/mavic_interface_pkgs/mavic_interface/cmake-build-debug/
/mavic_interface_pkgs/mavic_interface/.idea/
/mavic_interface_pkgs/mavic_interface_aerostack/cmake-build-debug/
/mavic_interface_pkgs/mavic_interface_ros/cmake-build-debug/
/mavic_interface_pkgs/apriltag_ros/
