<launch>
    <arg name="namespace"     default="drone0" />
    <group ns="$(arg namespace)">

        <node name="mavic_transform_frames_node" pkg="mavic_interface_ros" type="mavic_transform_frames_node"  output="screen">
        </node>

        <node name="mavic_state_node" pkg="mavic_interface_ros" type="mavic_state_node"  output="screen">
        </node>

        <node name="mavic_raw_localization_node" pkg="mavic_interface_ros" type="mavic_raw_localization_node"  output="screen">
        </node>

        <node name="mavic_receive_video_node" pkg="mavic_interface_ros" type="mavic_receive_video_node"  output="screen">
        </node>
    </group>
</launch>